.first-p {
  width: 100%;
  background-size: cover;
  height: 600px;
  background: white; /* Цвет фона */
  margin-top: 150px; /* Отступ сверху */

}

.content{
  margin: 0 auto;
  max-width: 80%;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.first-p h1{
  font-size: 3rem;
  color: grey;
  width: 100%;
  margin-bottom: 0px;
  margin-left: 55px;
}

.first-p p{
  text-align: left;
  font-size: 1.2rem;
  width: 100%;
  border: 5px;
  text-align: justify;

}

.center{
  display: flex;
}

.text{
  margin: 55px;
  display: flex 2;
  order: 1;
  
}
.small-text{
  
  color: grey;
  font-size: 1rem;
  width: auto;
  padding: 0px; /* Поля вокруг текста */
  border: 1px ; /* Параметры границы */
  text-align: justify;
}

/*.img{
  width:100%; 
  height:auto;
  margin: 0 auto;
} */

.image{
  display: flex 1;
  order: 2;
  width: 43vw;
  padding: 20px;
}
